@import 'scss/variables/_colors.scss';
@import 'scss/variables/_fontSizes.scss';

.root {
  @include medium;
  color: $white;
  font-weight: 400;
  margin: 0 15px;
  padding: 20px 5px;
  text-transform: uppercase;
  // sass-lint:disable-all
  transition: all 0.3s ease;
  // sass-lint:enable-all 

  &:hover {
    text-decoration: line-through;
  }
}

.selected {
  text-decoration: line-through;
}
