@import 'scss/variables/_colors.scss';
@import 'scss/variables/_fontSizes.scss';

.root {
  @include medium;
  box-shadow: 0 3px 0 0 $white;
  color: $white;
  height: 25px;
  margin: 0 10px;
  text-transform: uppercase;
  transition: all 0.2s ease;
  width: 120px;
  font-weight: 300;

  &:hover {
    box-shadow: 0 0 0 3px $white;
  }
}

.selected {
  background-color: $white;
  box-shadow: 0 0 0 3px $white;
  color: $black;
  font-weight: 600;
}
