$background: rgb(236, 236, 236);
$footer: #FDF9ED;
$footer-shadow: rgba(0, 0, 0, 0.63);
$footer-font-color: rgb(255, 247, 229);
$input-primary: #4D97FA;
$black: rgba(0, 0, 0, 0.87);
$white: #FFF;
$medium-gray: rgba(255, 255, 255, 0.5);
$light-blue: #4D97FA;
$light-blue2: #52C0EE;
$bahama-blue: #01579B;
$dark-blue: #1D558C;
$blue: #387AC9;
$red: #F00;
$disabled-gray: rgba(0, 0, 0, 0.38);
$light-gray: #F5F5F5;
$gray: rgba(0, 0, 0, 0.54);
$button-pressed-gray: rgba(0, 0, 0, 0.2);
$dark-gray: rgba(0, 0, 0, 0.58);
$gray2: #D9D9D9;
$signup-background-color: #05122C;
$error: #F44336;
$error-gray: #CDCBD8;
$green: #02E700;
$green2: #97F6C4;
$stepper-completed-step: #02E700;
$button-dark-blue: #1D558C;
$button-dark-blue-hover: #184673;
$button-light-blue: #4D97FA;
$button-light-blue-hover: #407CCD;
$button-blue: #387AC9;
$button-blue-hover: #295993;
$button-green: #02E700;
$button-green-hover: #02BE00;
$text-button-light-blue-hover: rgba(64, 124, 205, 0.08);
$text-button-dark-blue-hover: rgba(24, 70, 115, 0.08);
$text-button-green-hover: rgba(2, 190, 0, 0.08);
$text-button-blue-hover: rgba(41, 89, 147, 0.08);
$text-button-white-hover: rgba(245, 245, 245, 0.071);
$input-primary: #4D97FA;
$loading-base: #4D97FA;
$divider-base: rgba(0, 0, 0, 0.15);
$transparent: transparent;
$notification-success: #090;
$notification-error: #C00;
$notification-info: #0065A3;
$tooltip-base: #333;
$history-first-color: #5CB98A;
$history-second-color: #62CD58;
$history-third-color: #69E144;
$sidebar-rigth: #326EB1;
$sidebar-welcome-shadow: rgba(0, 0, 0, 0.26);
$card-shadow-1: rgba(0, 0, 0, 0.2);
$card-shadow-2: rgba(0, 0, 0, 0.14);
$card-shadow-3: rgba(0, 0, 0, 0.12);
$card-shadow-4: rgba(0, 0, 0, 0.24);
$history-first-current-year: rgb(27, 198, 25);
$history-first-past-year: rgb(31, 105, 158);
$history-first-other-year: #BA531F;
$history-second-current-year: rgb(0, 237, 32);
$history-second-past-year: rgb(74, 145, 250);
$history-second-other-year: #C14B0F;
$history-third-current-year: rgb(148, 255, 149);
$history-third-past-year: rgb(132, 185, 248);
$history-third-other-year: #A83800;
$tab-border-gray: #E0E0E0;
$tab-background-gray: #F8F8FA;
$tab-text-gray: #A8A8AA;
$notification-badge: #CE3B3B;
$reference-line-yellow: #FFC000;
$graphic-line-first: rgb(247, 97, 0);
$graphic-line-second: rgb(255, 169, 0);
$file-input-drag-glow: #9ECAED;
$file-input-loading-first: #DADADA;
$file-input-loading-second: #999;
$readed-notification: rgba(0, 0, 0, 0.1);
$scroll-indicator-shadow: rgba(0, 0, 0, 0.7);
$skeleton-base: #CCC;
$skeleton-first: #DDD;
$skeleton-second: #E8E8E8;
$no-account-card: rgba(255, 255, 255, 0.412);
$error-red: #F44336;
$walkthrough-shadow: rgba(0, 0, 0, 0.3);
$sign-in-background-1: rgba(1, 87, 155, 0);
$sign-in-background-2: rgba(10, 52, 83, 0.75);
$sign-in-background-3: #004174;
$star-rating: #FFD700;
$card-background: #FAFAFA;

// sass-lint:disable no-misspelled-properties

:export {
  disabledGray: $disabled-gray;
  inputPrimary: $input-primary;
  dividerBase: $divider-base;
  gray: $gray;
  error: $error;
}
